/* @media (max-width: 1130px) {
  .sapper {
    margin: 40px 0 20px;
  }
} */

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px 0 20px;
  }
  .records-wrapper {
    align-self: center;
  }
  .sapper {
    margin: 40px 0 20px;
  }
}

@media (max-width: 657px) {
  .complicated {
    grid-template-columns: repeat(25, 20px);
  }
  .complicated .sapper__cells {
    height: 20px;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .number-bombs__icon {
    font-size: 30px;
  }
  .number-bombs__input {
    width: 45px;
  }
  .sound__icon {
    width: 32px;
    height: 32px;
    align-self: center;
    padding-left: 4px;
  }
  .number-text {
    font-size: 20px;
  }

  .click__icon {
    width: 35px;
  }

  .stopwatch__icon {
    width: 40px;
  }
  .header {
    padding: 10px 20px;
  }
  .complicated {
    grid-template-columns: repeat(25, 25px);
  }
  .complicated {
    grid-template-columns: repeat(25, 20px);
  }
  .complicated .sapper__cells {
    height: 20px;
    font-size: 15px;
  }
}

@media (max-width: 1130px) {
  .header {
    padding: 10px 20px;
  }
}

@media (max-width: 506px) {
  .complicated {
    grid-template-columns: repeat(25, 17px);
  }
  .complicated .sapper__cells {
    height: 17px;
    font-size: 12px;
  }
}
